@import "tailwindcss";

@theme {
  --color-primary: #6d5d8e;
  --color-secondary: #f9f8fc;
  --color-secondary-hover: #f0edf7;
  --color-secondary-dark: #e3ddef;

  --color-text: #2d263d;
  --color-muted: #6d5d8e;

  --color-highlight: #f0edf7;
  --color-success: #1e3a2f;
  --color-error: #991b1b;

  --font-display: var(--font-playfair), serif;
  --font-body: var(--font-montserrat), sans-serif;
}

body {
  background: var(--color-secondary);
  color: var(--color-text);
  font-family: var(--font-body);
}
